<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1847B749-70A9-40FD-AEAB-4F5F65EE53FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E6169C4-1BBE-419E-ADCA-1DBD90AB5EBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9E6169C4-1BBE-419E-ADCA-1DBD90AB5EBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4708129F-7192-4AF5-AC65-6572E909F47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3106E7A-9994-497B-9DE4-94ABC71D663F</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Move the current window to space number {query}</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman Komarov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TotalSpaces switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1847B749-70A9-40FD-AEAB-4F5F65EE53FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ts</string>
				<key>runningsubtext</key>
				<string>Retrieving list of spaces</string>
				<key>script</key>
				<string>#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

$LOAD_PATH &lt;&lt; '.'
require 'alfred_list_spaces.rb'

alfred_list_spaces("{query}")
</string>
				<key>title</key>
				<string>Switch to space</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9E6169C4-1BBE-419E-ADCA-1DBD90AB5EBF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

$LOAD_PATH &lt;&lt; '.'
require 'go_to_space.rb'

go_to_space("{query}")
</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4708129F-7192-4AF5-AC65-6572E909F47B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

$LOAD_PATH &lt;&lt; '.'
require 'send_to_space.rb'

send_to_space("{query}")
</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3106E7A-9994-497B-9DE4-94ABC71D663F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1847B749-70A9-40FD-AEAB-4F5F65EE53FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4708129F-7192-4AF5-AC65-6572E909F47B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9E6169C4-1BBE-419E-ADCA-1DBD90AB5EBF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B3106E7A-9994-497B-9DE4-94ABC71D663F</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kizu.ru/en/</string>
</dict>
</plist>
